:root{
    --primary: #c69963;
    --primary-dark: #b28451;
    --secondary: #101d2c;

    --grey-light-1: #f9f7f6;
    --grey-light-2: #aaa;

    --grey-dark-1: #54483a;
    --grey-dark-2: #6d5d4b;

    --font-primary: 'Nunito', sans-serif;
    --font-display: 'Josefin Sans', sans-serif;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 10px;
}

body{
    font-family: var(--font-primary);
    color: var(--grey-dark-2);
    font-weight: 300;
    line-height: 1.6;
}

.container{
    display: grid;
    grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end] ) [center-end]  minmax(6rem, 1fr) [full-end];
}

/* COMPONENTS */
.sidebar{
    background: var(--primary);
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;
}

.header{
    background: var(--grey-dark-1);
    grid-column: full-start / col-end 6;
}

.realtors{
    background: var(--secondary);
    grid-column: col-start 7 / full-end;
}

/* FEATURES COMPONENT */
.features{
    grid-column: center-start / center-end;
    margin: 15rem 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.story__pictures{
    background: var(--primary);
    grid-column: full-start / col-end 4;
}

.story__content{
    background: var(--grey-light-1);
    grid-column: col-start 5 / full-end;
}

.homes{
    background: var(--secondary);
    grid-column: center-start / center-end;
}

.gallery{
    background: var(--grey-dark-1);
    grid-column: full-start / full-end;
}

.footer{
    background: var(--secondary);
    grid-column: full-start / full-end;
}